<p>
  Welcome to the home page for the Brain & Mind Centre R workshop. It is a three day workshop covering six seperate topics that occur frequently to anyone doing pragmatic data analysis.
  The content is structured in such a way that the material in a section is independent to the other sections, so if you can only make part of the course this won't impact your learning.
  This workshop is delivered as part of a partnership between the University of Sydney's Brain and Mind Centre and the <a href="{{site.sih_site}}">Sydney Informatics Hub</a>.
</p>
<p>
  The <a href="{{site.sih_site}}">Sydney Informatics Hub</a> is a Core Research Facility of the University of Sydney. SIH provides support, training, and expertise on research data, analyses
  and computing for research staff, students and affiliates of the University. We deliver policies, systems, advice, engineering and
  training to research staff, students and affiliates of the University.
</p>

<p>
  Participants will be encouraged to help one another and to apply what they have learned to their own research problems.
</p>
