<div class="row">
  <div class="col-md-4"><!-- > Originally this was md-6, change dept num of cols</-->
    <h3>Day 1: November 12</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>General Introduction, Installation and Setup</td> </tr>
      <tr> <td>14:30</td>  <td>Introduction to R Programming</td> </tr>
      <tr> <td>15:30</td>  <td>Break</td> </tr>
      <tr> <td>15:45</td>  <td>Data Structures</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2: November 19</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Controls & Loops</td> </tr>
      <tr> <td>15:30</td>  <td>Break</td> </tr>
      <tr> <td>15:45</td>  <td>Data Wrangling</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3: November 26</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Data visualisation</td> </tr>
      <tr> <td>15:30</td>  <td>Break</td> </tr>
      <tr> <td>15:45</td>  <td>Statistical Methods</td> </tr>
    </table>
  </div>
</div>
