<p>
  The <a href="{{site.sih_site}}">Sydney Informatics Hub</a>
  is a Core Research Facility of the University of Sydney. SIH provides support, training, and expertise on research data, analyses
  and computing for research staff, students and affiliates of the University. We deliver policies, systems, advice, engineering and
  training to research staff, students and affiliates of the University.

  This workshop is fully developed by SIH and  will cover FIXME.

  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
